# Mandatory: Uncomment one of the following two lines, depending on whether you have an
#            Intel or Apple Silicon Mac
#VPN_EXECUTABLE=/opt/homebrew/bin/openconnect  # Apple Silicon Macs
#VPN_EXECUTABLE=/usr/local/bin/openconnect  # Intel Macs

# Mandatory: Enter the URL or IP address of your VPN server, your username, and
#            (optionally) provide pre-password prompt responses (see README.md)
VPN_HOST="vpn.example.invalid"
VPN_USERNAME="anonymous"
PROMPT_RESPONSES=""

# Optional: change the title displayed in the menu bar.
VPN_DISPLAYNAME="VPN"

# Optional: change the default interface name.
VPN_INTERFACE="utun99"

# Optional: change the default logfile
LOGFILE="$HOME/Library/Logs/xbar-openconnect.log"

# Optional: provide additional commandline argument(s) to openconnect in bash array.
#           To provide NO arguments, the array must be empty. Examples:
#           EXTRA_ARGUMENTS=( )  # No extra arguments
#           EXTRA_ARGUMENTS=( "--servercert=pin-sha256:..." "--script=vpn-slice args" )
EXTRA_ARGUMENTS=( )
